{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block article %}
	<h2 class="inblock">{% trans message.subject %}</h2>
	
	{% ifequal message.recipient.pk user.pk %}
		<a href="{% url 'messages_reply' message.id %}" class="ftrt mt20">
			<button class="btn btn-primary">{% trans "Reply" %}</button>
		</a>
	{% endifequal %}
	<a href="{% url 'messages_delete' message.id %}" class="ftrt mt20 mr10">
		<button class="btn btn-danger">{% trans "Delete" %}</button>
	</a>

	<p>Created by <b>{{ message.sender }}</b> on <i>{{ message.sent_at }}</i></p>
	
	<hr />

	<p>{{ message.body|linebreaksbr }}</p>
{% endblock %}