{% load staticfiles %}
{% load wysiwyg %}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Tasking - The King of Task Management</title>
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Styles -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
	<link rel="stylesheet" href="{% static 'lib/datepicker/css/datepicker.css' %}" media="screen">
	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	{% wysiwyg_setup %}
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="wrapper">
			{% if user.is_authenticated %}
				<!-- Header -->
				<header class="ftlt fill" style="width:200px;padding:0;">
					<!-- User Area -->
					<div id="user-area" class="autoflow mb20 vpad20 hpad20" style="background:#162636;">
						<figure class="ftlt mr10">
							<img src="{{ user.avatar.url|default_if_none:'#' }}" alt="avatar" style="width:50px;height:50px;border-radius:25px;" />
						</figure>
						<div class="mt5">
							<span class="white"><b>{{ user.first_name }} {{ user.last_name }}</b></span><br />
							<a href="/users/profile/{{ user.id }}" class="mr5">
								<span class="glyphicon glyphicon-user"></span>
							</a>
							<a href="/users/update/{{ user.id }}" class="mr5">
								<span class="glyphicon glyphicon-cog"></span>
							</a>
							<a href="/messages/inbox" class="mr5">
								<span class="glyphicon glyphicon-envelope"></span>
							</a>
							<a href="/users/logout" class="mr5">
								<span class="glyphicon glyphicon-log-out"></span>
							</a>
						</div>
					</div>
					<!-- Navigation -->
					<nav>
						<p class="white verysmall upper hpad20">Browse</p>
						<ul class="list-unstyled">
							<li><a href="/" class="hpad20 vpad10 block nav-hover"><span class="glyphicon medium glyphicon-dashboard white mr10"></span>Dashboard</a></li>
							<li><a href="/projects" class="hpad20 vpad10 block nav-hover"><span class="glyphicon medium glyphicon-th-list white mr10"></span>Projects</a></li>
							<li><a href="/tasks" class="hpad20 vpad10 block nav-hover"><span class="glyphicon medium glyphicon-tasks white mr10"></span>Tasks</a></li>
							<li><a href="/users" class="hpad20 vpad10 block nav-hover"><span class="glyphicon medium glyphicon-user white mr10"></span>Users</a></li>
							<li><a href="/teams" class="hpad20 vpad10 block nav-hover"><span class="glyphicon medium glyphicon-user white mr10"></span>Teams</a></li>
						</ul>
					</nav>
				</header>

				<!-- Secondary Information (Meta Data) -->
				<aside class="ftrt hpad15 vpad20 fill autoflow" style="width:300px;">
					{% block aside %}
						<p>Test!</p>
					{% endblock %}
				</aside>

				<!-- Content -->
				<main class="fill autoflow hpad15">
					<!-- Primary Information -->
					<article>
						{% block article %}
						{% endblock %}
					</article>
					<!-- Footer -->
					<footer>
						<!-- Sitemap -->
						<!-- Return to top -->
						{% block footer %}
						{% endblock %}
					</footer>
				</main>
				{% wysiwyg_editor "id_description" %}
			{% else %}
				<!-- Login -->
				<h2>Log In</h2>
				<form action="/users/login" method="POST">
					{% csrf_token %}
					<h4>Username</h4>
					<input type="text" name="username" placeholder="admin">
					<h4>Password</h4>
					<input type="password" name="password">
					<div class="btn-list">
						<button type="submit">Log in</button>
					</div>
				</form>
				<!-- Register -->
				<h2>Register</h2>
				<form action="/users/create" method="POST">
					{% csrf_token %}
					<h4>Username</h4>
					<input type="text" name="username" placeholder="admin">
					<h4>Email</h4>
					<input type="text" name="email" placeholder="admin@mail.com">
					<h4>Password</h4>
					<input type="password" name="password">
					<div class="btn-list">
						<button type="submit">Register</button>
					</div>
				</form>
			{% endif %}
			</div>
		</div>
	</div>
	<!-- Scripts -->
  <script src="{% static 'lib/datepicker/js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
