<div id="user-area" class="autoflow mb20 vpad20 hpad20">
  <figure class="ftlt mr10">
      <img class="avatar" src="{{ user.avatar.url }}" alt="avatar" />
  </figure>
  <div class="mt5">
    <span class="white"><b>{{ user.first_name }} {{ user.last_name }}</b></span><br />
    <a href="/users/update/{{ user.id }}" class="mr5">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
    <a href="/messages/inbox" class="mr5">
      <span class="glyphicon glyphicon-envelope"></span>
    </a>
    <a href="/users/logout" class="mr5">
      <span class="glyphicon glyphicon-log-out"></span>
    </a>
  </div>
</div>
