{% extends 'base.html' %}

{% block aside %}
{% endblock %}
{% block article %}
	{% if project.id %}
		<h2 class="inblock">Update Project</h2>
		{% if project.id %}
			<form class="ftrt mt20" action="{% url "delete-project" pk=project.id %}" method="POST">
				{% csrf_token %}
				<input type="submit" value="Delete" class="btn btn-danger" />
			</form>
		{% endif %}
	{% else %}
		<h2>Create Project</h2>
	{% endif %}
	<hr />
	<form action="{{ action }}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{% for field in form %}
			<h4>{{ field.label }}</h4>
			{{ field }}
		{% endfor %}
		<br />
		{% if project.id %}
			<input type="submit" value="Update" class="btn btn-primary">
		{% else %}
			<input type="submit" value="Create" class="btn btn-primary">
		{% endif %}
	</form>
{% endblock %}