{% extends 'base.html' %}

{% block article %}
	<!-- Heading -->
	{% if update %}
		<h2>Update User</h2>
	{% else %}
		<h2>Create User</h2>
	{% endif %}
	<hr />

	<!-- User Form -->
	<form action="{{ action }}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{% for field in form %}
			<h4>{{ field.label }}</h4>
			{{ field }}
		{% endfor %}
		<br />
		{% if update %}
			<input type="submit" value="Update" class="mt10 mb10 btn btn-primary">
		{% else %}
			<input type="submit" value="Create" class="mt10 mb10 btn btn-primary">
		{% endif %}
	</form>
{% endblock %}
