{% extends 'base.html' %}

{% block header %}
{% endblock %}
{% block article %}
  <!-- Login -->
  <h2>Log In</h2>
  <form action="/users/login" method="POST">
    {% csrf_token %}
    <h4>Username</h4>
    <input type="text" name="username" placeholder="admin">
    <h4>Password</h4>
    <input type="password" name="password">
    <div class="btn-list">
      <button type="submit">Log in</button>
    </div>
  </form>
  <!-- Register -->
  <h2>Register</h2>
  <form action="/users/create" method="POST">
    {% csrf_token %}
    <h4>Username</h4>
    <input type="text" name="username" placeholder="admin">
    <h4>Email</h4>
    <input type="text" name="email" placeholder="admin@mail.com">
    <h4>Password</h4>
    <input type="password" name="password">
    <div class="btn-list">
      <button type="submit">Register</button>
    </div>
  </form>
{% endblock %}