{% extends 'base.html' %}

{% block article %}
	<!-- Task Heading -->
	<h2 class="inblock">{{ task.name }}</h2>
	{% if user.is_authenticated %}
		<a href="{% url "update-task" pk=task.id %}" class="ftrt mt20">
			<button type="button" class="btn btn-primary">Update Task</button>
		</a>
		<a href="#" class="ftrt mt20 mr10">
			<button type="button" class="btn btn-warning">Reassign</button>
		</a>
	{% endif %}
	<p>Created by <b>{{ task.created_by }}</b> on <i>{{ task.created }}</i></p>
	<hr />
	<!-- Descriptions -->
	<p class="serif mb20">{{ task.description }}</p>
	<hr />
	<!-- Comments -->
{% endblock %}
{% block aside %}
	<h4 class="mt20">Assignment History</h4>
	<h4>Related Tasks</h4>
{% endblock %}