{% extends 'base.html' %}

{% block article %}
	<!-- Task Heading -->
	<a href="{% url "update-task" pk=task.id %}" class="ftrt">
		<button type="button" class="btn btn-primary">Update Task</button>
	</a>
	<h2>{{ task.name }}</h2>
	<p>Created by <b>{{ task.created_by }}</b> on <i>{{ task.created }}</i></p>
	<hr />
	<!-- Descriptions -->
	<p class="serif mb20">{{ task.description|safe }}</p>
	<hr />
{% endblock %}

{% block aside %}
	{% if comments %}
	<!-- List Comments -->
	<ul class="list-unstyled">
		{% for comment in comments %}
			{% if comment.user.id == user.id %}
			<li class="autoflow mb20">
				<figure class="ftlt">
					<img src="{{ comment.user.avatar.url }}" alt="user" class="avatar" />
				</figure>
				<div class="bubble-user">{{ comment.body }}</div>
				<span class="ftrt verysmall subtext">{{ comment.created }}</span>
			</li>
			{% else %}
			<li class="autoflow mb20">
				<figure class="ftrt">
					<img src="/media/images/smiling-dog.jpg" alt="user" class="avatar" />
				</figure>
				<div class="bubble-other">{{ comment.body }}</div>
				<span class="verysmall subtext">{{ comment.created }}</span>
			</li>
			{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
	<!-- Add Comment -->
	<form action="{% url 'create-task-comment' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="hidden" name="task" value="{{ task.id }}">
		<textarea name="body" class="fluid mt10"></textarea>
		<button type="submit" class="btn btn-primary mt10 mb10">Add Comment</button>
	</form>
{% endblock %}
