{% extends 'base.html' %}

{% block article %}
	<!-- Task Heading -->
	<h2>{{ task.name }}</h2>
	<p>Created by <b>{{ task.created_by }}</b> on <i>{{ task.created }}</i></p>
	<!-- Task Controls -->
	<hr />
	<a class="btn btn-primary" href="{% url "update-task" pk=task.id %}"><span class="glyphicon glyphicon-cog mr10"></span>Update</a>
	<a class="btn btn-primary"><span class="glyphicon glyphicon-wrench mr10"></span>Work</a>
	<a class="btn btn-primary"><span class="glyphicon glyphicon-user mr10"></span>Suggest</a>
	{% if task.status == 0 %}
		<form action="/tasks/complete" method="post" enctype="multipart/form-data" class="inblock">
			{% csrf_token %}
			<input type="hidden" name="id" value="{{ task.id }}">
			<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok mr10"></span>Mark Complete</button>
		</form>
	{% endif %}
	<hr />
	<!-- Descriptions -->
	<p class="serif mb20">{{ task.description|safe }}</p>
	<!-- Attachments -->
	{% if attachments %}
		<ul class="list-unstyled autoflow mb20">
			<li class="ftlt btn disabled"><span class="glyphicon glyphicon-file"></span></li>
		{% for attachment in attachments %}
			<li class="ftlt btn btn-default mr10 mb10"><a href="{{ attachment.file.url }}">{{ attachment }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}
	<form action="{% url 'create-task-attachment' %}" method="POST" enctype="multipart/form-data" class="upload inblock rad3 pad10">
		{% csrf_token %}
		<input type="hidden" name="task" value="{{ task.id }}">
		<input type="file" name="file" value="">
		<button type="submit" class="btn btn-primary mt10">Upload</button>
	</form>
{% endblock %}

{% block aside %}
	{% if comments %}
	<!-- List Comments -->
	<ul class="list-unstyled">
		{% for comment in comments %}
			{% if comment.user.id == user.id %}
			<li class="autoflow mb20">
				<figure class="ftlt">
					<a href="/users/{{ comment.user.id }}"><img src="{{ comment.user.avatar.url }}" alt="user" class="avatar" /></a>
				</figure>
				<div class="bubble-user">{{ comment.body }}</div>
				<span class="ftrt verysmall subtext">{{ comment.created }}</span>
			</li>
			{% else %}
			<li class="autoflow mb20">
				<figure class="ftrt">
					<a href="/users/{{ comment.user.id }}"><img src="/media/images/smiling-dog.jpg" alt="user" class="avatar" /></a>
				</figure>
				<div class="bubble-other">{{ comment.body }}</div>
				<span class="verysmall subtext">{{ comment.created }}</span>
			</li>
			{% endif %}
		{% endfor %}
	</ul>
	{% else %}
	<p>There doesn't seem to be anything here! Change that by writing a comment!</p>
	{% endif %}
	<!-- Add Comment -->
	<form action="{% url 'create-task-comment' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="hidden" name="task" value="{{ task.id }}">
		<textarea name="body" class="fluid mt10"></textarea>
		<button type="submit" class="btn btn-primary mt10 mb10">Add Comment</button>
	</form>
{% endblock %}
