{% extends 'base.html' %}

{% block article %}
	<div>
		<h2 class="inblock">Task Pool</h2>
		<a href="/tasks/create" class="ftrt mt20">
			<button type="button" class="btn btn-primary">Create Task</button>
		</a>
	</div>
	<hr />
	{% if object_list %}
	<table class="table table-striped table-hover fluid">
		<thead>
			<tr>
				<th>Task</th>
				<th>Status</th>
				<th>Type</th>
				<th>Creator</th>
				<th>Project</th>
				<th>Due</th>
			</tr>
		</thead>
		<tbody>
			{% for task in object_list %}
			<tr>
				<td><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></td>
				<td>{{ task.get_status_display }}</td>
				<td>{{ task.get_task_type_display }}</td>
				<td><a href="/users/profile/{{ task.created_by.id }}">{{ task.created_by }}</a></td>
				<td><a href="/projects/{{ task.project.id }}">{{ task.project.name }}</a></td>
				<td>{{ task.due }}</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<!-- pagination? -->
		</tfoot>
	</table>
	{% else %}
		<p>There doesn't seem to be anything here!</p>
	{% endif %}
{% endblock %}
{% block aside %}
	<h4 class="mt20">Activity</h4>
{% endblock %}