{% extends 'base.html' %}
{% load endless %}

{% block article %}
	<!-- Heading -->
	<h2 class="inblock">Task Pool</h2>
	<a href="/tasks/create" class="ftrt mt20">
		<button type="button" class="btn btn-primary">Create Task</button>
	</a>
	<hr />

	<!-- Global Task Listing -->
	{% if object_list %}
	<table class="table table-striped table-hover fluid">
		<thead>
			<tr>
				<th>Task</th>
				<th>Status</th>
				<th>Type</th>
				<th>Creator</th>
				<th>Project</th>
				<th>Due</th>
			</tr>
		</thead>
		<tbody>
		{% paginate object_list %}
		{% for task in object_list %}
			<tr>
				<td><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></td>
				<td>{{ task.get_status_display }}</td>
				<td>{{ task.get_task_type_display }}</td>
				<td><a href="/users/profile/{{ task.created_by.id }}">{{ task.created_by }}</a></td>
				<td><a href="/projects/{{ task.project.id }}">{{ task.project.name }}</a></td>
				<td>{{ task.due }}</td>
			</tr>
		{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6" class="pad0"><ul class="pagination pagination-sm">{% show_pages %}</ul></td>
			</tr>
		</tfoot>
	</table>
	{% else %}
		<p>There doesn't seem to be anything here!</p>
	{% endif %}
{% endblock %}

{% block aside %}
	<h4>Recent Tasks</h4>
	{% if user_tasks %}
		<ul class="list-unstyled">
		{% for task in user_tasks %}
			<li class="pad10 bborder mb5 bg-white">
				<a href="/tasks/{{ task.id }}">{{ task.name }}</a>
				<span class="subtext verysmall">Due: {{ task.due }}</span>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>There doesn't seem to be any tasks assigned to you!</p>
	{% endif %}
	<br />
	<h4>Tasks Due</h4>
	{% if tasks_due %}
		<ul class="list-unstyled">
			{% for task in tasks_due %}
			<li class="pad10 bborder mb5 bg-white">
				<a href="/tasks/{{ task.id }}">{{ task.name }}</a>
				<span class="subtext verysmall">Due: {{ task.due }}</span>
			</li>
			{% endfor %}
		</ul>
	{% else %}
		You do not have any tasks coming due.
	{% endif %}
{% endblock %}
