/**
Modular Classes -- Production
**/

/* General */
.pointer {cursor:pointer;}

/* Transparency */
.o25 {opacity:0.25;}
.o50 {opacity:0.5;}
.o75 {opacity:0.75;}

/* Text */
.verysmall {font-size:.8em;}
.small {font-size:.9em;}
.normal {font-size:1em;}
.medium {font-size:1.1em;}
.large {font-size:1.2em;}
.verylarge {font-size:1.5em;}

.sans {font-family: sans-serif;}
.serif {font-family: Georgia, Times, serif;}

.justify {text-align: justify;}
.textcenter {text-align: center;}

.upper {text-transform: uppercase;}
.lower {text-transform: lowercase;}

.underline {text-decoration: underline;}
.normal {font-weight:normal;font-style:normal;text-decoration:none;}

.subtext {color:#a7a7a7;}
.white {color:white;}
.gray {color:gray;}
.black {color:black;}
.shadow {text-shadow:0px 1px 2px rgba(0,0,0,0.5);}

.bullet li {list-style-type:disc;margin-left:15px;}


/* Borders */
.bg-white {background:white;}
.border {border:1px solid #e0e0e0;}
.bborder {border-bottom:2px solid #e0e0e0;}
.rad3 {border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}


/* Spacing */
.pad0 {padding:0px!important;}
.pad5 {padding:5px;}
.pad10 {padding:10px;}
.pad20 {padding:20px;}

.hpad5 {padding-left:5px;padding-right:5px;}
.hpad10 {padding-left:10px;padding-right:10px;}
.hpad15 {padding-left:15px;padding-right:15px;}
.hpad20 {padding-left:20px;padding-right:20px;}

.vpad5 {padding-top:5px;padding-bottom:5px;}
.vpad10 {padding-top:10px;padding-bottom:10px;}
.vpad15 {padding-top:15px;padding-bottom:15px;}
.vpad20 {padding-top:20px;padding-bottom:20px;}

.mt0 {margin-top: 0px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}

.mt5m {margin-top: -5px;}

.mr0 {margin-right: 0px;}
.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}

.mr5m {margin-right: -5px;}

.mb0 {margin-bottom: 0px;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}

.mb5m {margin-bottom: -5px;}

.ml0 {margin-left: 0px;}
.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}

.ml5m {margin-left: -5px;}


/* Element Positioning */
.ftlt {float:left;}
.ftrt {float:right;}

.block {display: block}
.inblock {display: inline-block;}
.inline {display:inline;}
.hidden {display:hidden;}

.fix {position: fixed;}
.abs {position: absolute;}
.rel {position: relative;}
.stat {position: static;}

.top {top:0;}
.left {left:0;}
.right {right:0;}
.bottom {bottom:0;}
.center {margin:0 auto;}

.clear {clear:both;}

.autoflow {overflow:auto;}
.noneflow {overflow:none;}
.scrollflow {overflow-x:hidden;overflow-y:auto;}

/* Layout */
.fill {height:100%;}
.fluid {width:100%;}
.fixed {width:1000px;}
.partial {max-width:1000px;width:80%;}


/* Images */
.fill-image {width:100%;height:auto;}


/* Columns */
.col {width:30%;margin-right:5%;}
li.col:nth-child(3n) {margin-right:0px;}
li.col:nth-child(3n+1):last-child {width:100%;}
li.col:nth-child(3n+1):nth-last-of-type(2),
li.col:nth-child(3n+1):nth-last-of-type(2) + li {width: 47.5%;}
li.col:last-child {margin-right:0px;}


/* Responsive Column Behavior */

@media screen and (max-width:700px) {
	.col {width:100%!important;}
	li.col {margin-bottom:40px;}
	li.col:last-child {margin-bottom: 0px;}
	ul#nav li {display:block;margin-right:0;}
}

/**
Site Specific
**/

/* Header */
header {
	background:#272727;
	width:200px;
	padding:0;
	float:left;
	height:100%;
}

#user-area {
	background:#222;
}

.avatar {
	width:50px;
	height:50px;
	border-radius:25px;
}

nav li:hover {
	background:#333;
}

nav li a {
	color:#ccc;
	padding:10px 20px;
	display:block;
}

nav li a:hover {
	color:white;
	text-decoration:none;
}

nav li a span {
	color:#428BCA;
}

/* Main */

main {
	height:100%;
	padding:0 15px;
	overflow:auto;
}

.upload {
	background:rgb(240, 240, 240);
	border:1px solid rgb(215, 215, 215);
}

.upload input {
	background:rgb(215, 215, 215);
	border:1px solid rgb(199, 199, 199);
}

/* Aside */

aside {
	background:#eee;
	border-left:1px solid #cecece;
	width:300px;
	float:right;
	padding:15px 20px;
	height:100%;
	overflow:auto;
}

.bubble {
	border-radius:3px;
	padding:5px 7px;
}

.bubble-user {
	background:rgb(70, 207, 95);
	margin-left:60px;
	color:white;
}

.bubble-other {
	background:rgb(215, 215, 215);
	margin-right:60px;
	color:#555;
}

/* Other */

.wrapper {
	position:absolute;
	height:100%;
	width:100%;
}

input, textarea {
	background:white;
	border:1px solid #c0c0c0;
	border-radius:2px;
	padding:4px;
}

input:focus, textarea:focus {
	border:1px solid green;
}

.nav-link {color:white;}
.nav-link:hover {color:white;}
.nav-link span {color:gray;}
.nav-link:hover span {color:white;}
