header {
  background:#428BCA;
}

#navigation li {
  display:inline-block;
}

#navigation li.link-right {
  float:right;
  border-right:0;
}

#navigation li.link:hover {
  background:#357EBD;
}

#navigation li a {
  color:white;
  padding:12px 20px;
  display:block;
}

#navigation li.search {
  padding:9px 20px 0px 20px;
  border-right:0;
}

#navigation li.search input {
  border:0;
  border-bottom:1px solid white;
  background:none;
  color:white;
  border-radius:0px;
}

#navigation li.search input:focus {
  outline:0;
  border-bottom:1px solid white;
}

body {
  background:#fefefe;
}

nav {
  width:200px;
  float:left;
  height:100%;
  background:#2e2c35;
}

main {
  overflow:auto;
}

aside#activity {
  width:300px;
  float:right;
  padding:0 15px;
  height:100%;
  overflow:auto;
  background:#fefefe;
}

.breadcrumbs {
  width:100%;
  background:#f9f9f9;
  border-bottom:1px solid #eaeaea;
  display:block;
  padding:5px;
}

.wrapper {
  position:absolute;
  height:100%;
  width:100%;
}

#branding {
  display:inline-block;
}

.filter-list {
  padding:0 7px;
  margin-bottom:6px;
}

.filter-list:hover{
  background:#f9f9f9;
}

.selected {
  border-left:6px solid #ccc;
}

.selected .filter-list:hover {
  background:#f9f9f9;
  border:0;
  border-radius:3px;
}

.no-style {
  background:none;
  border:0;
  outline:0;
  padding:5px;
  margin:0;
  width:100%;
  display:block;
  text-align:left;
}

.no-style:hover {
  background:#eee;
}

#navigation::-webkit-input-placeholder {
   color: white;
}

#navigation:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

#navigation::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

#navigation:-ms-input-placeholder {  
   color: white;  
}

input, textarea {
  border:1px solid #bbb;
  border-radius:3px;
  padding:3px;
}

.submit-row {
  margin-top:20px;
  margin-bottom:20px;
}

.form-row {
  margin-bottom:20px;
  padding-bottom:20px;
  overflow:auto;
  border-bottom:1px solid #eaeaea;
}

.form-row label {
 display:inline-block;
 vertical-align: top;
 width:100px;
 margin-right:20px;
}

.form-row input, .form-row textarea {
  display:inline-block!important;
}

p.help {
  margin-top:20px;
  font-size:0.8em;
}

/**
Modular Classes -- Production
**/

/* General */
.pointer {cursor:pointer;}

/* Transparency */
.o25 {opacity:0.25;}
.o50 {opacity:0.5;}
.o75 {opacity:0.75;}

/* Text */
.verysmall {font-size:.8em;}
.small {font-size:.9em;}
.normal {font-size:1em;}
.medium {font-size:1.1em;}
.large {font-size:1.2em;}
.verylarge {font-size:1.5em;}

.sans {font-family: sans-serif;}
.serif {font-family: Georgia, Times, serif;}

.justify {text-align: justify;}
.textcenter {text-align: center;}

.upper {text-transform: uppercase;}
.capitalize {text-transform: capitalize;}
.lower {text-transform: lowercase;}

.underline {text-decoration: underline;}
.normal {font-weight:normal;font-style:normal;text-decoration:none;}

.subtext {color:#a7a7a7;}
.white {color:white;}
.gray {color:gray;}
.black {color:black;}
.shadow {text-shadow:0px 1px 2px rgba(0,0,0,0.5);}

.bullet li {list-style-type:disc;margin-left:15px;}


/* Borders */
.bg-white {background:white;}
.border {border:1px solid #e0e0e0;}
.bborder {border-bottom:2px solid #e0e0e0;}
.rad3 {border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}


/* Spacing */
.pad0 {padding:0px!important;}
.pad5 {padding:5px;}
.pad10 {padding:10px;}
.pad20 {padding:20px;}

.hpad5 {padding-left:5px;padding-right:5px;}
.hpad10 {padding-left:10px;padding-right:10px;}
.hpad15 {padding-left:15px;padding-right:15px;}
.hpad20 {padding-left:20px;padding-right:20px;}

.vpad5 {padding-top:5px;padding-bottom:5px;}
.vpad10 {padding-top:10px;padding-bottom:10px;}
.vpad15 {padding-top:15px;padding-bottom:15px;}
.vpad20 {padding-top:20px;padding-bottom:20px;}

.mt0 {margin-top: 0px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}

.mt5m {margin-top: -5px;}

.mr0 {margin-right: 0px;}
.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}

.mr5m {margin-right: -5px;}

.mb0 {margin-bottom: 0px;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}

.mb5m {margin-bottom: -5px;}

.ml0 {margin-left: 0px;}
.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}

.ml5m {margin-left: -5px;}


/* Element Positioning */
.ftlt {float:left;}
.ftrt {float:right;}

.block {display: block}
.inblock {display: inline-block;}
.inline {display:inline;}
.hidden {display:hidden;}

.fix {position: fixed;}
.abs {position: absolute;}
.rel {position: relative;}
.stat {position: static;}

.top {top:0;}
.left {left:0;}
.right {right:0;}
.bottom {bottom:0;}
.center {margin:0 auto;}

.clear {clear:both;}

.autoflow {overflow:auto;}
.noneflow {overflow:none;}
.scrollflow {overflow-x:hidden;overflow-y:auto;}

/* Layout */
.fill {height:100%;}
.fluid {width:100%;}
.fixed {width:1000px;}
.partial {max-width:1000px;width:80%;}


/* Images */
.fill-image {width:100%;height:auto;}
