{% extends 'base.html' %}
{% load endless %}

{% block article %}
	<!-- Team Heading -->
	<h2 class="inblock">{{ team.name }}</h2>
	<a href="{% url "update-team" pk=team.id %}" class="ftrt mt20">
		<button type="button" class="btn btn-primary">Update Team</button>
	</a>
	<p>Created by <b>{{ team.created_by }}</b> on <i>{{ team.created }}</i></p>
	<!-- Button Group -->
	<hr />
	{% if user in members %}
		<form action="{% url "leave-team" %}" method="post" enctype="multipart/form-data" class="inblock">
			{% csrf_token %}
			<input type="hidden" name="id" value="{{ team.id }}">
			<button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-warning-sign mr10"></i>Leave</button>
		</form>
	{% else %}
		<form action="{% url "join-team" %}" method="post" enctype="multipart/form-data" class="inblock">
			{% csrf_token %}
			<input type="hidden" name="id" value="{{ team.id }}">
			<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-bookmark mr10"></i>Join</button>
		</form>
	{% endif %}
	<hr />
	<!-- Descriptions -->
	<p class="serif mb20">{{ team.description|safe }}</p>
{% endblock %}

{% block aside %}
	<h4>Team Members</h4>
	<ul class="list-unstyled">
		{% paginate members %}
		{% for member in members %}
		<li class="pad10 bborder mb5 bg-white">
			<a href="{% url "detail-user" pk=member.id %}">{{ member.username }}</a>
		</li>
		{% empty %}
		<p>
			<td>There are currently no members of this team.</td>
		</p>
		{% endfor %}
	</ul>
	<ul class="pagination pagination-sm">{% show_pages %}</ul>
{% endblock %}
